<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image profile</title>
    <%- include("partials/head") %>
</head>
<body>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card animated fadeInDown">
                    <img src="<%= image.path %>" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-tittle"><%= image.tittle %></h5>
                        <p class="card-text"><%= image.Description %></p>
                        <p class="card-text"><%= format(image.created_at)%></p>
                        <a href="/image/<%= image._id %>/delete" class="btn btn-danger btn-block">
                            Delete Image
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>